body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

#imagemSucesso {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}